@import url("https://fonts.googleapis.com/css?family=Comfortaa:700");

button {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
.App {
  background-color: rgb(230, 72, 195);
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-size: 88px;
  padding-bottom: 50px;
  padding-top: 0px;
  margin-top: 0px;
}
h2 {
  font-size: 26px;
  color: whitesmoke;
}
p {
  font-size: 26px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
